*::-webkit-scrollbar{
    background-color: #444;
    width: 10px;
}
*::-webkit-scrollbar-thumb{
    background: white;
}
*{
    scrollbar-color: white #444;
}
body{
    background-color: #1a1a1a;
    color: #eaeaea;
}
a{
    color: white;
}
.muted{
    color: #adadad;
}
button, textarea, input{
    border: 1px solid white;
    color: white;
    background-color: #1a1a1a;
}
input[type="checkbox"], input[type="radio"]{
    border: 1px solid white;
}
input[type="checkbox"]:checked:after, input[type="radio"]:checked:after{
    color: white;
}
.n_title{
    background-color: #eaeaea;
    color: #1a1a1a;
}
.select_option .option:hover{
    background-color: #444;
}
.select_option .option{
    border: 1px solid white;
    background-color: #1a1a1a;
    border-top: none;
}
.select_option{
    border-top: 1px solid white;
}
.select_view{
    border: 1px solid white;
}
main{
    background-color: #1a1a1a;
}
table, td, th{
    border: 1px solid white;
}
h1{
    color: #1a1a1a;
    background-color: #eaeaea;
}