*{
    box-sizing: border-box;
}
table, td, th{
    border: 1px solid black;
}
a{
    color: #237de1;
}
h2 > a{
    text-decoration: none;
    color: initial;
    background-color: initial;
}
@font-face{
    font-family: "icon";
    src: url("icon.woff2") format("woff2");
}
a[href^="http://"]:after, a[href^="https://"]:after{
    font-family: "icon";
    margin-left: 0px;
    content: " \f08e";
    font-size: 14px;
}
@font-face{
    font-family: "mono";
    src: url("IBMPlexMono-Regular-Latin1.woff2") format("woff2");
    font-display: swap;
}
@font-face{
    font-family: "sans";
    src: url("IBMPlexSans-Regular-Latin1.woff2") format("woff2");
    font-display: swap;
}
@font-face{
    font-family: "sans";
    src: url("IBMPlexSans-SemiBold-Latin1.woff2") format("woff2");
    font-weight: bold;
    font-display: swap;
}
pre{
    font-family: "mono", monospace;
}
pre{
    padding: 1em;
    margin-bottom: 0px;
    background-color: #f3f3f3;
    color: black;
    word-wrap: break-word;
    white-space: pre-wrap;
}
.code-description{
    text-align: right;
    margin-bottom: 20px;
}
body{
    font-family: "sans", sans-serif;
    font-weight: normal;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
    max-width: 55rem;
    padding: 1rem;
    color: black;
    background-color: white;
}
h3, h2{
    font-weight: normal;
}
h1{
    font-weight: bold;
    font-size: 2em;
}
h2{
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 1.5em;
    border-bottom: 2px solid black;
}
p{
    line-height: 1.7;
}
.muted{
    font-size: 15px;
}
hr{
    margin-top: 2em;
    margin-bottom: 2em;
}
input{
    font-family: "sans";
}
.math-block{
    text-align: center;
    margin-top: 1em;
}
nav{
    margin-top: 0.5em;
    margin-bottom: 2em;
}
nav a{
    text-decoration: none;
    color: initial;
    font-weight: bold;
    margin-right: 0.6em;
    margin-left: 0.6em;
}
nav a:first-child{
    margin-left: 0em;
}
nav a:last-child{
    margin-right: 0em;
}
nav button{
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}
svg{
    stroke: black;
}
#light{
    padding: 0;
    width: 1.5em;
    background-color: transparent;
    border: none;
    outline: none;
}