*{
    box-sizing: border-box;
}
table, td, th{
    border: 1px solid black;
}
h1{
    margin-bottom: 40px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border: 3px solid black;
    box-shadow: 1px 1px 0px 0px black,
                2px 2px 0px 0px black,
                3px 3px 0px 0px black,
                4px 4px 0px 0px black,
                5px 5px 0px 0px black;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: white;
    background-color: black;
}
@font-face{
    font-family: "icon";
    src: url("icon.woff2") format("woff2");
}
a[href^="http://"]:after, a[href^="https://"]:after{
    font-family: "icon";
    content: " \f08e";
    font-size: 14px;
}
@font-face{
    font-family: "sans";
    src: url("IBMPlexSans-Light-Latin1.woff2") format("woff2");
    font-display: swap;
    font-weight: 300;
    unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00A3, U+00A4-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+2074, U+20AC, U+2122, U+2212, U+FB01-FB02;
}
@font-face{
    font-family: "sans";
    src: url("IBMPlexSans-Regular-Latin1.woff2") format("woff2");
    font-display: swap;
    font-weight: 400;
    unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00A3, U+00A4-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+2074, U+20AC, U+2122, U+2212, U+FB01-FB02;
}
@font-face{
    font-family: "sans";
    src: url("IBMPlexSans-Bold-Latin1.woff2") format("woff2");
    font-display: swap;
    font-weight: 700;
    unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00A3, U+00A4-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+2074, U+20AC, U+2122, U+2212, U+FB01-FB02;
}
@font-face{
    font-family: "sans";
    src: url("IBMPlexSans-Italic-Latin1.woff2") format("woff2");
    font-display: swap;
    font-style: italic;
    unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00A3, U+00A4-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+2074, U+20AC, U+2122, U+2212, U+FB01-FB02;
}
@font-face{
    font-family: "mono";
    src: url("IBMPlexMono-Regular-Latin1.woff2") format("woff2");
    font-display: swap;
    unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00A3, U+00A4-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+2074, U+20AC, U+2122, U+2212, U+FB01-FB02;
}
pre, h1, #menu{
    font-family: "mono", monospace;
}
pre{
    padding: 1em;
    margin-bottom: 0px;
    background-color: #f3f3f3;
    color: black;
    word-wrap: break-word;
    white-space: pre-wrap;
}
.code-description{
    text-align: right;
    margin-bottom: 20px;
}
body{
    font-family: "sans", sans-serif;
    font-weight: normal;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
    max-width: 55rem;
    padding: 1rem;
    color: black;
    background-color: white;
}
h3, h2, h1{
    font-weight: normal;
}
h1{
    font-size: 2em;
}
h2{
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 1.5em;
    font-family: "sans", sans-serif;
    border-bottom: 2px solid black;
}
h2 > a:hover, #menu a{
    text-decoration: none;
}
p{
    line-height: 1.7;
}
.muted{
    font-size: 15px;
}
#menu{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    position: fixed;
    top: 5px;
    left: 5px;
    background-color: white;
}
#menu span{
    cursor: pointer;
    border-bottom: 2px solid black;
}
hr{
    margin-top: 2em;
    margin-bottom: 2em;
}
input{
    font-family: "sans", sans-serif;
}