body, html{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.board{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}
.cell{
    height: 60px;
    width: 60px;
    background-color: rgb(240, 217, 181);
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
}
.cell-dark{
    background-color: rgb(181, 136, 99);
}
.cell-dark .pos{
    color: rgb(240, 217, 181);
}
.pos{
    font-size: 10px;
    color: rgb(181, 136, 99);
    font-weight: bold;
    user-select: none;
}
.pos .file{
    position: absolute;
    left: 2px;
    bottom: 0px;
}
.pos .rank{
    position: absolute;
    right: 2px;
    top: 0px;
}
.cell{
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    margin: 30px;
}
.info{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    margin: 0;
}
.selected{
    background-color: #286028c4;
}
.indicator-target-empty{
    background-image: url("img/circle.svg");
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: none;
}
.indicator-target-piece{
    background-image: url("img/corner.svg");
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: none;
}
.target-empty .indicator-target-empty{
    display: inherit;
}
.target-piece .indicator-target-piece{
    display: inherit;
}
#moves{
    border-collapse: collapse;
}
#moves tr{
    border-bottom: 2px solid gray;
}
#moves td{
    width: 25px;
    padding: 5px;
}
#moves_container{
    height: 420px;
    width: 260px;
    overflow-y: scroll;
    scrollbar-width: thin;
    margin-top: 20px;
    resize: both;
}
.bold{
    font-size: 25px;
    font-weight: bold;
}
table{
    width: 100%;
}